* {
    margin: 0;
    padding: 0;    
}
@import url('https://fonts.googleapis.com/css2?family=B612&display=swap');

#fundo {
    background-image: url(fundo.png);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    backdrop-filter: brightness(35%);
}

#titulo {
    font-family: 'B612', sans-serif;
    font-size: 20px;
    padding: 45px 0 35px 0;
    color:  #FFFFFF;
    display: flex;
    justify-content: center;
}

#subtitulo {
    font-family: 'B612', sans-serif;
    font-size: 76px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-bottom: 21px;
}

#centro {
    display: flex;
    flex-wrap: wrap;
}

#imagem-centro {
    width: 184px;
    height: 267px;
    border-radius: 20px;
    padding: 10px 0 0 73px;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#conteudo p{
    font-family: 'B612', sans-serif;
    height: 100px;
    width: 722px;
    color: #FFFFFF;
    padding: 1px 0 0 73px;
}

#detalhes {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1px 0 0 73px;
    font-size: 24px;
    color: #FFFFFF;
}

#detalhes-relogio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

#relogio {
    padding: 0 5px 0 0;
}

#botoes {
    display: flex;
    padding: 55px 0 0 73px;
    font-size: 16px;
   
}

#botoes-1{
    margin: 20px 3px 5px 0;
    background: #0072D2;
    width: 184px;
    height: 52px;
}

#botoes-2{
    margin: 20px 0 5px 3px;
    background: #3c3c45;
    width: 115px;
    height: 52px;   
}

/*EFEITO ELEMENTOS*/
.detalhes-estrelas:hover {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

#botoes-1:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border: 3px solid #FFFFFF;
}

#botoes-2:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    border: 3px solid #FFFFFF;
}



